<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Dodaj Rolę</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <form th:action="@{/admin/addRole}" th:object="${role}" method="post">
            <div class="form-group">
                <label for="roleName">Podaje nazwę roli</label>
                <input type="text" class="form-control" id="roleName" aria-describedby="roleNameHelp" placeholder="Nazwa roli" th:field="*{name}"/>
                <small id="firstNameHelp" class="form-text text-muted">Nazwa roli bez przedrostka ROLE_, tylko sama nazwa np: USER, TEST itp.</small>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
    </div>
</body>
</html>