<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img class="img-circle" th:src="@{/images/logo-prm.jpg}" style="width: 50px; height: 50px;" alt="Państwowe Ratownictwo Medyczne Logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Strona główna</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/addUser}">Dodaj użytkownika</a> </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/addRole}">Dodaj rolę</a> </li>
                </ul>
                <span class="navbar-text" th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">data</span>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>